.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px; 
}
.carousel-indicators .active {
 background-color: #c6a45b;
}
.carousel-indicators{
  position: absolute;
  bottom: -40px;
}